/*	GLOBAL
___________________________________________________ */

* {
	border: 0;
	padding: 0;
}

body {
	background: #222;
	font-family: Arial;
}

/*	HEADER
___________________________________________________ */

#header {
	min-width: 320px;
	background: #ffc301;
}

#header-linha1 {
	display: flex;
	/*background-color: orange;*/
	height: 50px;
	
}

.fluidWrapper {
	display: flex;
	width: 100%;
	/*background-color: green;*/
}

#menu {
	width: 50px;
	height: 100%;
	flex-grow: 0;
	background-color: black;

	background: black url("../img/menu.svg") no-repeat center;
	background-size: 45%;
}

#logo {
	width: 100px;
	height: 100%;
	flex-grow: 0;
	background: black url("../img/logo.png") no-repeat center;
	background-size: 150%;
}

#busca {
	position: relative;
	display: none;
	width: 50px;
	height: 100%;
	flex-grow: 1;
	/*background: orange;*/
}

#busca input, #header-linha2 input {
	width: 100%;
	height: 100%;
	background: white;
	border: 0.1px solid lightgray;
	padding: 0 60px 0 13px;
	box-sizing: border-box;
	color: gray;
}

#busca button,  #header-linha2 button {
	width: 50px;
	height: 100%;
	position: absolute;
	right: 0;
	background: lightgray url("../img/magnifying-glass.svg") no-repeat center;
	background-size: 40%;
}

#login {
	height: 100%;
	flex-grow: 1;
	/*background: purple;*/
	background: url("../img/user.svg") no-repeat center 6px;
	background-size: 20px 20px;
	line-height: 75px;
	text-align: center;
}

#carrinho {
	width: 50px;
	height: 100%;
	flex-grow: 0;
	background: url("../img/shopping-cart.svg") no-repeat center;
	background-size: 50%;
	line-height: 75px;
	text-align: center;
}

#header-linha2 {
	height: 40px;
	position: relative;
}

#header-linha3 {
	height: 30px;
	text-align: center;
	line-height: 30px;

	font-size: 14px
}

/*	RESPONSIVIDADE
___________________________________________________ */

@media (min-width: 480px) {

	#busca {
		display: block;
	}

	#login {
	max-width: 100px;
	}

	#header-linha2 {
	display: none;
	}

}